In [69]:
# Dependencies and Setup
import os
import pandas as pd
from pathlib import Path
import numpy as np

In [70]:
# Store filepath in a variable
cyber_security_breaches_filepath = Path("Resources/cyber_security_breaches.csv")

In [71]:
data_breaches_df = pd.read_csv(cyber_security_breaches_filepath)
data_breaches_df.head()

,Unnamed: 0,Number,Name_of_Covered_Entity,State,Business_Associate_Involved,Individuals_Affected,Date_of_Breach,Type_of_Breach,Location_of_Breached_Information,Date_Posted_or_Updated,Summary,breach_start,breach_end,year,lat,lon
0,1,0,Brooke Army Medical Center,TX,NaN,1000,10/16/2009,Theft,Paper,6/30/2014,A binder containing the protected health infor...,10/16/2009,NaN,2009,33.239337,-97.174159
1,2,1,"Mid America Kidney Stone Association, LLC",MO,NaN,1000,9/22/2009,Theft,Network Server,5/30/2014,Five desktop computers containing unencrypted ...,9/22/2009,NaN,2009,14.944283,108.886967
2,3,2,Alaska Department of Health and Social Services,AK,NaN,501,10/12/2009,Theft,"Other Portable Electronic Device, Other",1/23/2014,NaN,10/12/2009,NaN,2009,44.955317,34.101606
3,4,3,Health Services for Children with Special Need...,DC,NaN,3800,10/9/2009,Loss,Laptop,1/23/2014,A laptop was lost by an employee while in tran...,10/9/2009,NaN,2009,38.929858,-77.033324
4,5,4,"L. Douglas Carlson, M.D.",CA,NaN,5257,9/27/2009,Theft,Desktop Computer,1/23/2014,A shared Computer that was used for backup was...,9/27/2009,NaN,2009,9.176940,105.150000

In [72]:
data_breaches_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 16 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        1055 non-null   int64
 1   Number                            1055 non-null   int64
 2   Name_of_Covered_Entity            1055 non-null   object
 3   State                             1055 non-null   object
 4   Business_Associate_Involved       271 non-null    object
 5   Individuals_Affected              1055 non-null   int64
 6   Date_of_Breach                    1055 non-null   object
 7   Type_of_Breach                    1055 non-null   object
 8   Location_of_Breached_Information  1055 non-null   object
 9   Date_Posted_or_Updated            1055 non-null   object
 10  Summary                           142 non-null    object
 11  breach_start                      1055 non-null   object
 12  breach_end                        145 non-null    object
 13  year                              1055 non-null   int64
 14  lat                               995 non-null    float64
 15  lon                               995 non-null    float64
dtypes: float64(2), int64(4), object(10)
memory usage: 132.0+ KB

In [73]:
# Drop 'Unnamed: 0' and 'Business_Associate_Involved'
data_breaches_df.drop(columns=['Unnamed: 0'], inplace=True)

data_breaches_df.drop(columns=['Business_Associate_Involved'], inplace=True)

In [74]:
data_breaches_df.head()

,Number,Name_of_Covered_Entity,State,Individuals_Affected,Date_of_Breach,Type_of_Breach,Location_of_Breached_Information,Date_Posted_or_Updated,Summary,breach_start,breach_end,year,lat,lon
0,0,Brooke Army Medical Center,TX,1000,10/16/2009,Theft,Paper,6/30/2014,A binder containing the protected health infor...,10/16/2009,NaN,2009,33.239337,-97.174159
1,1,"Mid America Kidney Stone Association, LLC",MO,1000,9/22/2009,Theft,Network Server,5/30/2014,Five desktop computers containing unencrypted ...,9/22/2009,NaN,2009,14.944283,108.886967
2,2,Alaska Department of Health and Social Services,AK,501,10/12/2009,Theft,"Other Portable Electronic Device, Other",1/23/2014,NaN,10/12/2009,NaN,2009,44.955317,34.101606
3,3,Health Services for Children with Special Need...,DC,3800,10/9/2009,Loss,Laptop,1/23/2014,A laptop was lost by an employee while in tran...,10/9/2009,NaN,2009,38.929858,-77.033324
4,4,"L. Douglas Carlson, M.D.",CA,5257,9/27/2009,Theft,Desktop Computer,1/23/2014,A shared Computer that was used for backup was...,9/27/2009,NaN,2009,9.176940,105.150000

In [75]:
# Convert date columns to datetime
data_breaches_df['Date_of_Breach']= pd.to_datetime(data_breaches_df['Date_of_Breach'], errors = 'coerce')

data_breaches_df['Date_Posted_or_Updated'] =  pd.to_datetime(data_breaches_df['Date_Posted_or_Updated'] , errors = 'coerce')

data_breaches_df['breach_start'] =  pd.to_datetime(data_breaches_df['breach_start'] , errors = 'coerce')

data_breaches_df['breach_end'] = pd.to_datetime(data_breaches_df['breach_end'] , errors = 'coerce')

In [76]:
# Rename specified columns
data_breaches_df.rename(columns={
    'Name_of_Covered_Entity': 'Entity_Name',
    'breach_start': 'Breach_Start',
    'breach_end' : 'Breach_End',
    'year' : 'Year',
    'lat' : 'Lat',
    'lon' : 'Lon'
}, inplace=True)

In [85]:
data_breaches_df

,Number,Entity_Name,State,Individuals_Affected,Date_of_Breach,Type_of_Breach,Location_of_Breached_Information,Date_Posted_or_Updated,Summary,Breach_Start,Breach_End,Year,Lat,Lon
0,0,Brooke Army Medical Center,TX,1000,2009-10-16,Theft,Paper,2014-06-30,A binder containing the protected health infor...,2009-10-16,NaT,2009,33.239337,-97.174159
1,1,"Mid America Kidney Stone Association, LLC",MO,1000,2009-09-22,Theft,Network Server,2014-05-30,Five desktop computers containing unencrypted ...,2009-09-22,NaT,2009,14.944283,108.886967
2,2,Alaska Department of Health and Social Services,AK,501,2009-10-12,Theft,"Other Portable Electronic Device, Other",2014-01-23,NaN,2009-10-12,NaT,2009,44.955317,34.101606
3,3,Health Services for Children with Special Need...,DC,3800,2009-10-09,Loss,Laptop,2014-01-23,A laptop was lost by an employee while in tran...,2009-10-09,NaT,2009,38.929858,-77.033324
4,4,"L. Douglas Carlson, M.D.",CA,5257,2009-09-27,Theft,Desktop Computer,2014-01-23,A shared Computer that was used for backup was...,2009-09-27,NaT,2009,9.176940,105.150000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1050,1050,Puerto Rico Health Insurance,PR,28413,2013-09-20,Theft,Other,2014-06-27,NaN,2013-09-20,NaT,2013,19.438060,-96.905560
1051,1051,"Hospitalists of Brandon, LLC",FL,1831,2014-02-11,Hacking/IT Incident,Other,2014-06-27,NaN,2014-02-11,NaT,2014,30.336990,-81.660180
1052,1052,Santa Rosa Memorial Hospital,CA,33702,2014-06-02,"Theft, Loss",Other Portable Electronic Device,2014-06-27,NaN,2014-06-02,NaT,2014,38.443800,-122.700884
1053,1053,Group Health Plan of Hurley Medical Center,MI,2289,2014-05-13,Unauthorized Access/Disclosure,E-mail,2014-06-27,NaN,2014-05-13,NaT,2014,NaN,NaN
1054,1054,"Abrham Tekola, M.D.,INC",CA,5471,2014-05-27,Theft,Desktop Computer,2014-06-27,NaN,2014-05-27,NaT,2014,-33.370252,-70.713567

In [84]:
data_breaches_df.dtypes

Number                                       int64
Entity_Name                                 object
State                                       object
Individuals_Affected                         int64
Date_of_Breach                      datetime64[ns]
Type_of_Breach                              object
Location_of_Breached_Information            object
Date_Posted_or_Updated              datetime64[ns]
Summary                                     object
Breach_Start                        datetime64[ns]
Breach_End                          datetime64[ns]
Year                                         int64
Lat                                        float64
Lon                                        float64
dtype: object

In [87]:
data_breaches_df.isnull().sum()

Number                                0
Entity_Name                           0
State                                 0
Individuals_Affected                  0
Date_of_Breach                      146
Type_of_Breach                        0
Location_of_Breached_Information      0
Date_Posted_or_Updated                0
Summary                             913
Breach_Start                          0
Breach_End                          910
Year                                  0
Lat                                  60
Lon                                  60
dtype: int64

In [91]:
# Fill missing values
data_breaches_df['Date_of_Breach'].fillna('Unknown', inplace = True)
data_breaches_df['Summary'].fillna('Unknown', inplace = True)
data_breaches_df['Breach_End'].fillna('Unknown', inplace = True)
data_breaches_df['Lat'].fillna('Unknown', inplace = True)
data_breaches_df['Lon'].fillna('Unknown', inplace = True)

In [92]:
data_breaches_df.isnull().sum()

Number                              0
Entity_Name                         0
State                               0
Individuals_Affected                0
Date_of_Breach                      0
Type_of_Breach                      0
Location_of_Breached_Information    0
Date_Posted_or_Updated              0
Summary                             0
Breach_Start                        0
Breach_End                          0
Year                                0
Lat                                 0
Lon                                 0
dtype: int64

In [93]:
# Calculate the number of duplicate rows in the dataframe
number_of_duplicates = data_breaches_df.duplicated().sum()

# Print the number of duplicate rows
print(f"There are {number_of_duplicates} duplicate rows in the dataframe.")

There are 0 duplicate rows in the dataframe.